<div >

  <mat-grid-list cols="1" rowHeight="2:1">

    <mat-grid-tile class="text-align">

      <mat-card>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Nom du Sauveteur</mat-label>
          <input [ngModel]="nom" matInput>
        </mat-form-field>

        <mat-form-field class="form" appearance="fill">
          <mat-label>Prénom du Sauveteur</mat-label>
          <input [ngModel]="prenom" matInput>
        </mat-form-field>

        <mat-form-field class="form" appearance="fill">
          <mat-label>Lien vers sa page</mat-label>
          <input [ngModel]="url" matInput>
        </mat-form-field>

        <button class="form"  mat-raised-button color="primary"> Ajouter Sauveteur</button>
      </mat-card>



    </mat-grid-tile>

  </mat-grid-list>





</div>
