/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title_text {
  font-weight: bold;
  color: #d94d4d;
  font-size: 30px;
  padding-bottom: 20px;
}
